#container{
    height:400px;
    width:400px;
    border:2px solid lightseagreen;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    margin:50px;
    justify-content:space-evenly ;
    align-items: center;
    border-radius: 20px;
    
    
}

.box{
    height:100px;
    width:100px;
    border:2px solid black;
    background-color: grey;
    font-size: 51px;
    text-align: center;
    border-radius:10px;

}
#navbar{
    height:100px;
    width:200;
    border:2px solid black;
    background-color: pink;
    border-radius: 10px;
    display: flex;
justify-content: flex-start;



}
.option{
    height:50px;
    width:80px;
    border-radius:10px;
    margin-left:6px;
    font-size:28px;
    line-height:50px;
}
h1{
    text-decoration: underline red;
}