#container{
    height:600px;
    width:500px;
    border:2px solid lightseagreen;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    margin:50px;
    justify-content:space-evenly ;
    align-items: center;
    border-radius: 20px;
    color:azure
    
    
}

.box{
    height:100px;
    width:150px;
    border:2px solid black;
    background-color: grey;
    font-size: 15px;
    text-align: center;
    border-radius:10px;

}
#navbar{
    height:180px;
    width:150s;
    border:2px solid black;
    background-color: pink;
    border-radius: 10px;
    display: flex;
justify-content: center;



}
.option{
    height:10s0px;
    width:100px;
    border-radius:20px;
    margin-left:50px;
    font-size:18px;
    line-height:28px;
    

}
h1{
    text-decoration: underline red;
}
p{
    color:red;
    font-size: 25px;
}
